<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
    rel="stylesheet">
    <title>Form Isi Data Appointment</title>
</head>
<body>
    <header>
        <h1>Form Isi Data Appointment</h1>
    </header>
    <main>
        <section class="appointmentForm">
            <form action="/appointment/status" method="post" class="form">
                <section class="form-name">
                    <label for="name">Nama:</label>
                    <input type="text" id="name" name="name" required>
                </section>
                <section class="form-gender">
                    <label for="gender">Jenis Kelamin:</label>
                    <select id="gender" name="gender" required>
                        <option value="laki-laki">Laki-laki</option>
                        <option value="perempuan">Perempuan</option>
                    </select>    
                </section>
                <section class="form-telephone">
                    <label for="phone">Nomor Telepon:</label>
                    <input type="tel" id="phone" name="phone" required>    
                </section>
                <section class="form-birthdate">
                    <label for="birthdate">Tanggal Lahir:</label>
                    <input type="date" id="birthdate" name="birthdate" required>        
                </section>
                <section class="form-address">
                    <label for="address">Alamat:</label>
                    <textarea id="address" name="address" rows="4" required></textarea>
                </section>
                <section class="form-email">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </section>
                <section class="form-doctor">
                    <label for="doctor">Pilih Dokter:</label>
                    <select id="nama_dokter" name="nama_dokter" required>
                        <option value="Dr.Budi()">Dr. Budi Paracetamol (Pusing)</option>
                        <option value="Dr.Wanto()">Dr. Wanto Goweng (Cinta)</option>
                        <option value="Dr.rangga()">Dr. Rangga Nicotine (Paru-Paru)</option>
                        <option value="Dr.kurniawan()">Dr. Kurniawan Heru Budi (Jantung)</option>
                        <option value="Dr.kurniadi()">Dr. Kurniadi Kopling (Lutut Kopong)</option>
                        <option value="Dr.louis()">Dr. Louis Anomali Siregar (Anatomi)</option>
                    </select>    
                </section>
                <section class="form-complain">
                    <label for="complain">Keluhan:</label>
                    <textarea id="complain" name="complain" rows="4" required></textarea>
                </section>
                <section class="form-meeting">
                    <label for="meetingDate">Tanggal Pertemuan:</label>
                    <input type="datetime-local" id="meetingDate" name="meetingDate" required>
                </section>
                <section class="form-submit">
                    <input type="submit" value="Kirim">
                </section>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Apotek ADHD</p>
    </footer>
</body>
</html>
