<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Rumah Sakit</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section class="menu">
            <a href="/"><img src="/images/hospital.png" alt="rumah-sakit"></a>
            <a href="#facility"><img src="/images/hospital-facility.png" alt="rumah-sakit-fasilitas"></a>
            <a href="/appointment"><img src="/images/medical.png" alt="rumah-sakit-appointment"></a>
            <a href="/login"><img src="/images/key.png" alt="rumah-sakit-admin"></a>
        </section>
    </nav>
    
    <header>
        <section class="header">
            <h1>Tetap sehat bersama Apotek ADHD</h1>
        </section>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>