<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
    rel="stylesheet">
    <title>Landing Page Apotek ADHD</title>
</head>
<body>
    <header>
        <section class="header">
            <h1>Tetap sehat bersama Apotek ADHD</h1>
        </section>
    </header>
    <main>
        <section class="background-image">
            <div class="header-container">
                <div class="tag-line">
                    <h1>The Best Medical Services</h1>
                    <p>Kami menawarkan pengalaman terbaik untuk Anda dalam dunia kesehatan dengan layanan appointment dokter yang mudah, cepat, dan terpercaya. Temukan dokter spesialis, atur jadwal sesuai kebutuhan, dan nikmati pelayanan kesehatan profesional dari kenyamanan rumah Anda. Kesehatan Anda adalah prioritas utama kami</p>
                </div>
                <nav class="menu">
                    <a href="/"><img src="images/hospital.png" alt="Apotek">Apotek</a>
                    <a href="#facility"><img src="images/hospital-facility.png" alt="Fasilitas-Apotek">Fasilitas</a>
                    <a href="/appointment"><img src="images/medical.png" alt="Appointment-Apotek">Buat Janji</a>
                    <a href="/login"><img src="images/key.png" alt="Admin-Apotek">Admin</a>
                </nav>
            </div>
        </section>
        
        <section class="cards">
            <div class="card">
                <h2>Pelayanan Terbaik</h2>
                <p>Kami menyediakan layanan kesehatan dengan standar tertinggi, memastikan setiap pasien mendapatkan perawatan yang terbaik.</p>
            </div>
            <div class="card">
                <h2>Dokter Spesialis</h2>
                <p>Dokter-dokter kami adalah ahli di bidangnya, siap memberikan konsultasi dan perawatan sesuai kebutuhan Anda.</p>
            </div>
            <div class="card">
                <h2>Kemudahan Akses</h2>
                <p>Platform kami memudahkan Anda untuk membuat janji temu dengan dokter pilihan Anda kapan saja dan di mana saja.</p>
            </div>
        </section>

        <section id="facility">
            <h2 class="fasilitas-kami">Fasilitas Kami</h2>
            <div class="facility">
                <h2>CCTV 24/7</h2>
                <p>Fasilitas kami dipantau oleh kamera CCTV 24/7 untuk memastikan keselamatan dan keamanan semua pasien dan staf kami.</p>
            </div>
            <div class="facility">
                <h2>Lobby</h2>
                <p>Lobi kami dilengkapi dengan tempat duduk yang nyaman dan meja informasi untuk membantu Anda menjawab pertanyaan apa pun.</p>
            </div>
            <div class="facility">
                <h2>Ruangan Pasien</h2>
                <p>Kami memiliki banyak ruang pasien, masing-masing dirancang untuk memberikan kenyamanan dan privasi selama Anda menginap.</p>
            </div>
            <div class="facility">
                <h2>Kamar Mandi di Setiap Kamar</h2>
                <p>Setiap ruang pasien dilengkapi dengan kamar mandi sendiri untuk menjamin kenyamanan dan kebersihan.</p>
            </div>
            <div class="facility">
                <h2>Ruangan Pasien VIP</h2>
                <p>Kami menawarkan kamar pasien VIP dengan fasilitas dan privasi tambahan bagi mereka yang membutuhkan tingkat kenyamanan lebih tinggi.</p>
            </div>
            <div class="facility">
                <h2>Farmasi</h2>
                <p>Apotek kami tersedia untuk menyediakan semua obat-obatan dan perlengkapan kesehatan yang diperlukan untuk Anda.</p>
            </div>
            <div class="facility">
                <h2>Konsultasi Dokter Gratis</h2>
                <p>Apotek kami tersedia untuk menyediakan semua obat-obatan dan perlengkapan kesehatan yang diperlukan untuk Anda.</p>
            </div>
        </section>
    </main>
    <footer>
        <section class="contact-info">
            <h2>Kontak Kami</h2>
            <p>Email: info@apotekadhd.com</p>
            <p>Telepon: +69 6969 6969</p>
            <p>Alamat: Jl. Semoga Sehat No. 69, Depok</p> 
            <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101626.91228394686!2d-115.88640891671851!3d37.2514795472168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b81baaba3e8c81%3A0x970427e38e6237ae!2sArea%2051%2C%20Nevada%2C%20Amerika%20Serikat!5e0!3m2!1sid!2sid!4v1718632401027!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section class="social-media">
            <a href="#"><img src="images/contact-us/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="images/contact-us/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="images/contact-us/instagram.png" alt="Instagram"></a>
        </section>
    </footer>
</body>
</html>
