<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/alert.css">
    <title>Alert</title>
</head>
<body>
    <main>
        <a href="/">
            <section class="card">
                <h3>Data Success Di Input</h3>    
            </section>
        </a>
        <a href="/appointment">
            <section class="card">
                <h3>Data Gagal Di Input! <br> Silahkan Ulang Kembali</h3>
            </section>
        </a>        
    </main>
</body>
<script>
    
</script>
</html>