<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/alert.css">
    <title>Alert</title>
</head>
<body>
    <main>
        <a href="/">
            <section class="card">
                <h3>Data Success Di Input</h3>
                <h3>
                    <span class="normal">Jika ada data yang salah pada pengisian form Dimohon untuk melaporkan ke</span>
                    <a href="https://wa.me/6969696969" target="_blank"> WhatsApp admin</a>
                    <span class="plain-text"> atau email, dengan memberikan keterangan nama dan tanggal pertemuan. </span>
                    <a href="mailto:info@apotekadhd.com">info@apotekadhd.com</a><br>
                    WhatsApp: +69 69696969<br>
                    Email: <a href="mailto:info@apotekadhd.com">info@apotekadhd.com</a>
                </h3>    
            </section>
        </a>

        <div class="additional-info">
            <h3>Apabila pasien ingin membatalkan perjanjian dimogon untuk lapot ke whatsapp, Terima Kasih.</h3>
        </div>
    </main>
</body>
</html>
