body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    background-image: url('/images/image-header.jpg');
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 30px;
}

.appointmentForm {
    max-width: 800px; /* Lebar maksimum yang diperbesar */
    margin: 0 auto;
    padding: 130px; /* Penyesuaian padding */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.appointmentForm h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.appointmentForm .form .form-name,
.form-gender, .form-telephone, .form-birthdate,
.form-address, .form-email, .form-complain, .form-meeting, .form-submit, .form-doctor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.appointmentForm label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
}

.appointmentForm input[type="text"],
.appointmentForm input[type="tel"],
.appointmentForm input[type="date"],
.appointmentForm input[type="email"],
.appointmentForm input[type="datetime-local"],
.appointmentForm select,
.appointmentForm textarea {
    padding: 15px; /* Mengubah padding */
    border: 1px solid #ccc;
    border-radius: 6px; /* Menyesuaikan border-radius */
    font-size: 18px; /* Mengubah font-size */
    outline: none;
    transition: border-color 0.3s;
}

.appointmentForm input[type="submit"] {
    padding: 20px 30px; /* Menyesuaikan padding */
    font-size: 18px; /* Mengubah font-size */
}

.appointmentForm input[type="text"]:focus,
.appointmentForm input[type="tel"]:focus,
.appointmentForm input[type="date"]:focus,
.appointmentForm input[type="email"]:focus,
.appointmentForm input[type="datetime-local"]:focus,
.appointmentForm select:focus,
.appointmentForm textarea:focus {
    border-color: #007bff;
}

.appointmentForm textarea {
    resize: none; /* Disable resizing */
}

.appointmentForm input[type="submit"] {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appointmentForm input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:768px) {
    .appointmentForm {
        padding: 1.5em;
    }
}

@media screen and (max-width:420px) {
    .appointmentForm {
        padding: 1em;
    }
}
