*{  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body{
    padding: 0px;
}

nav{
    position: fixed;
    padding: 10px;
    bottom: 20px;
    left: 45%;
    border-radius: 10px;
    border: 3px solid black;
}
nav .menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(255,255,255,0.2);
}

nav .menu img{
    width: 50px;
    max-width: 50px;
    min-width: 50px;

}

header{
    padding: 300px;
    background: url('/images/image-header.jpg');
    background-size: cover;
    opacity: 0.5;
}

h1{
    font-size: 30px;
    color: #00ADB5;
}

main{
}